<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/LoginStyle.css">
</html>
<body class="Background">
  <div class="login-container">
    <div class="logo">SSF</div>
    {% with messages = get_flashed_messages() %}  
         {% if messages %}  
               {% for message in messages %}  
                    <p>{{ message }}</p>  
               {% endfor %}  
         {% endif %}  
      {% endwith %}
    <form method="post">
        <div class="input-group">
           <input type="password" name="password" id="password" placeholder="Password" required>
           <input class="login-btn" type="submit" value="Login">
        </div>
    </form>
</div>
</body>