<!DOCTYPE html>
<html lang="de">

<head>
<link rel="stylesheet" href="../static/aufLock.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mate</title>
</head>

<body onload="generateTable()" class="Background">
    
    <div class="box_h1">
        <h1 class="h1" align="center"> SSF</h1>
    </div>
    
    <div class="box_h2">
        <h2 class="h2" align="center"> Anzahl Vekaufter Flaschen {{ quantity }}</h2>
    </div>
    
    <div class="box_h3">
        <h3 class="h3" align="center">{{ temperature }}°C</h3>
    </div>
    
    <div class="box_h4">
        <h3 class="h4" align="left">Vorhandene Flaschen: {{ button }}</h3>
    </div>

    <div><p id="ausgabe"></p></div>
    
    <form method="POST" action="{{ url_for('login') }}"></form>
    
    <form method="POST" action="{{ url_for('protected')}}">
        <div><label for="inputSensors"></label></div>
        <input type="hidden" name="inputSensors" id="inputSensors" onchange="generateTable()" value="{{ button }}" />
        
    </form>
    
    <div id="missingBottles"></div>
    <div class="table_mate"><table id="sensorTable"></table></div>

    <script align="center">
        function createSensorHtml(isActivated) {
            if (isActivated) {
                return '<td><img src="../static/Mate mitte.png" alt="voll" width="30%" height="auto"></td>';
            } else {
                return '<td><img src="../static/mate leer.png" alt="leer" width="30%" height="auto"></td>';
            }
        }

        function generateTable() {
            var inputSensors = parseInt(document.getElementById("inputSensors").value, 10) || 0;
            var activatedSensors = inputSensors;

            activatedSensors = Math.min(activatedSensors, 16);

            var missingSensors = 16 - activatedSensors;
            
            document.getElementById("missingBottles").innerHTML= "Leere Slots" + missingSensors;

            var tableHtml = '';

            for (var i = 0; i < 4; i++) {
                tableHtml += '<tr>';
                for (var j = 0; j < 4; j++) {
                    var isActivated = (activatedSensors > 0);
                    tableHtml += createSensorHtml(isActivated);
                    activatedSensors--;
                }
                tableHtml += '</tr>';
            }

            document.getElementById("sensorTable").innerHTML = tableHtml;

        }
    </script>
</body>

</html> 
