<!DOCTYPE html>
<html lang="de">
 
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mate</title>
</head>
<body>
<h1 align="center"> SSF</h1>
<button onclick="showWord()">Für Temperatur Klicken</button>
<p id="ausgabe"></p>
 
    <label  for="inputSensors">Anzahl der betätigten Sensoren:</label>
<input type="hidden" id="inputSensors" onchange="generateTable()"> {{ button }} </input>
 
    <div id="missingBottles" >
 
    </div>
<table id="sensorTable" align="center"></table>
<script>
 
        function showWord() {
            document.getElementById("ausgabe").innerHTML = " °C";
        }
 
        function createSensorHtml(isActivated) {
            if (isActivated) {
                return '<td><img src="Mate mitte.png" alt="voll" width="40%" height="auto"></td>';
            } else {
                return '<td><img src="mate leer.png" alt="leer" width="40%" height="auto"></td>';
            }
        }
 
        function generateTable() {
            var inputSensors = parseInt(document.getElementById("inputSensors").value, 10) || 0;
            var activatedSensors = inputSensors;
 
            
            activatedSensors = Math.min(activatedSensors, 16);
 
            var missingSensors = 16 - activatedSensors;
 
            document.getElementById("missingBottles").innerHTML = "Fehlende Sensoren: " + missingSensors;
 
            var tableHtml = '';
            // um die tabele zu generieren 
            for (var i = 0; i < 4; i++) {
                tableHtml += '<tr>';
                for (var j = 0; j < 4; j++) {
                    var isActivated = (activatedSensors > 0);
                    tableHtml += createSensorHtml(isActivated);
                    activatedSensors--;
                }
                tableHtml += '</tr>';
            }
 
            document.getElementById("sensorTable").innerHTML = tableHtml;
        }
</script>
</body>
</html>