
.h1{
    text-align: center;
    color: rgb(160, 43, 43);
    font-weight: bold;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}
.box_h1{
    background-color: #ffd563;
    border-radius: 8px;
    width: 120px;
    height: fit-content;
    align-self: center;
    padding: 1px;
    margin-left: 50%;
    margin-top: 50px;
}

.box_h2{
    background-color: #ffd563;
    border-radius: 8px;
    width: 300px;
    height: fit-content;
    align-self: center;
    padding: 1px;
    margin-left: 46%;
    margin-top: 50px;
}
.h2{
    text-align: center;
    color: rgb(66, 89, 180);
    font-weight:bold;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
}

.sensorTable{
    align-items: right;
}

td{
    width: 500px;
    align-items: center;
    justify-content: center;
}

.Background{
    background-image: url(../static/Background_Mate.png);
    background-size: cover;
    background-position: center;
    margin-top: 0%;
    padding-top: 0%;
    background-color: #D98E1B;
    justify-content: center;
    height: 89vh;
}