<!DOCTYPE html>
<html lang="de">

<head>
<link rel="stylesheet" href="../static/locker.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mate</title>
</head>

<body class="Background">
    
    <div class="box_h2">
        <h4 class="h2" align="center"> Anzahl Vekaufter Flaschen {{ quantity }}</h4>
    </div>
    
    <div class="box_h3">
        <h3 class="h3" align="center">{{ temperature }}°C</h3>
    </div>
    
    <div class="box_h4">
        <h3 class="h4" align="left">Vorhandene Flaschen: {{ button }}</h3>
    </div>
    
    <div class="box_h4">
        <h3 class="h4" align="left">Es Fehlen {{ 16 - button }} Flaschen </h3>
    </div>


    <div><p id="ausgabe"></p></div>    

</body>

</html>
