<!DOCTYPE html>
<html lang="de">

<head>
<link rel="stylesheet" href="../static/locker.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mate</title>
</head>

<body class="Background">
    
    <div class="box_h2">
        <h4 class="h2" align="center"> Anzahl Vekaufter Flaschen {{ quantity }}</h4>
    </div>
    
    <div class="box_h3">
        <h3 class="h3" align="center">{{ temperature }}°C</h3>
    </div>
    
    <div class="box_h4">
        <h3 class="h4" align="left">Vorhandene Flaschen: {{ button }}</h3>
    </div>
    
    <div class="box_h4">
        <h3 class="h4" align="left">Es Fehlen {{ 16 - button }} Flaschen </h3>
    </div>


    <div><p id="ausgabe"></p></div>
    
    <form method="POST" action="{{ url_for('login') }}"></form>
    
    <form method="POST" action="{{ url_for('protected')}}">
        <div><label for="inputSensors"></label></div>
        <input type="hidden" name="inputSensors" id="inputSensors" value="{{ button }}" />
        
    </form>

    <script>
        function updateValues() {
            fetch('/get_values')
                .then(response => response.json())
                .then(data => {
                    // Update the elements with the new values
                    document.querySelector('.h2').textContent = 'Anzahl Vekaufter Flaschen ' + data.quantity;
                    document.querySelector('.h3').textContent = data.temperature + '°C';
                    document.querySelector('.h4').textContent = 'Vorhandene Flaschen: ' + data.button;
                });
        }

        // Update the values every 5 seconds
        setInterval(updateValues, 30000);
    </script>
</body>

</html>
